 <!-- RoadMap Section -->
 <section id="roadmap" class="content-section text-center">
    <div class="timeline">
<div class="containert left">
<div class="contentt">
  <h2>Git 1.0</h2>
  <p>Visit this site to learn about Git and become comfortable with basic Git practices</p>
</div>
</div>
<div class="containert right">
<div class="contentt">
  <h2>PLB</h2>
  <p>This self-paced course will teach you the basics of understanding code in less than one day</p>
</div>
</div>
<div class="containert left">
<div class="contentt">
  <h2>PLVM</h2>
  <p>Now you are ready to download and complete the learning VM</p>
</div>
</div>
<div class="containert right">
<div class="contentt">
  <h2>GSWP</h2>
  <p>At this point you are ready to take the in-person training to get some hands-on practice with an instructor</p>
</div>
</div>
<div class="containert left">
<div class="contentt">
  <h2>P Arch</h2>
  <p>Ready for a deeper dive? This course will take you even further</p>
</div>
</div>
<div class="containert right">
<div class="contentt">
  <h2>Keep going!</h2>
  <p>The journey never ends. Here are some resources to keep you on your learning path.</p>
</div>
</div>
</div>
</section>
